.h1-1{
    color: white;
}
.container{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Source Sans 3", sans-serif;
    margin-top: 30px;
}
h1{
    font-family: "Source Sans 3", sans-serif;
}
p{
    font-family: "Source Sans 3", sans-serif;
}

h3{
    font-family: "Source Sans 3", sans-serif;
}
.row{
    display: flex;
    align-items: center;
    gap: 400px;
}


.hek{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.helo{
    position: absolute;
}

.h1-2{
    text-align: center;
    margin-top: 50px;
}

.b{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.ts{
    position: absolute;
    background-color: white;
    width: 480px;
    height: 509px;
   


}

.h3-1{
    margin-top: 50px;
}

.g{
    margin-top: 40px;
}

.t{
    margin-top: 50px;
}

.rl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
}

.bt-1{
    width: 115px;
height: 48px;
background: #968676;
color: white;
border: none;


}
.hh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.a{
    margin-top: 200px;
}

.l{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}
.s{
    width: 500px;
height: 518px;
background: #DEDBD7;

}
.r{
    display: flex;
    justify-content: end;
    align-items: end;
}
.da{
    text-align: center;
    margin-top: 70px;
}

.net{
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
    
}

.ho{
    text-align: center;
    margin-top: 70px;
}

.container-2{
    width: 100%;
    height: 1005px;
    background-color: #D2B178;
    ;
    margin-top: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.we{
    text-align: center;
    color: black;
    
}
.ki{
    color: white;
    text-align: center;
   margin-top: 50px;
}

.li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.bt-2{
    width: 192px;
height: 64px;
border-radius: 32px;
position: absolute;
border: none;
background-color: #D2B178;
color: black;
font-weight: bold;


}

.jeje{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
}

.imgg{
    background-image: url(./img/IMAGE\ \(43\).png);
    width: 100%;
    margin-top: 100px;
    height: 555px;
}

.bt-11{
    width: 115px;
height: 48px;
background: #968676;
color: white;
border: none;
margin-top: 100px;


}
.uii{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.sui{
    text-align: center;
   position: relative;
   top: 50px;
}
.iuu{
    text-align: center;
    margin-top: 200px;
}

.h33{
    margin-top: 50px;
}
.p11{
    margin-top: 50px;
}

.h44{
    margin-top: 50px;
}
.we{
    
   
   position: relative;
   top: 50px;
}
.ki{
    margin-top: 100px;
}
.a-11{
    font-size: 35px;
}
.a-22{
    font-size: 35px;
}
.a-33{
    font-size: 35px;
}
.a-44{
    font-size: 35px;
}
.ioo{
   display: flex;
   gap: 50px;
   /* justify-content: center;
   align-items: center; */
   align-items: center;

   margin-top: 30px;
}

.gg{
    display: flex;
    align-items: center;
    gap: 350px;
    width: 80%;
    margin:  0 auto;
}
.gii{
    margin-top: 40px;
}